*.pyc
output/
out/
lsprepost*/
*.tgz
settings_user.json
tasks/
*.lammps
settings_win_user.py
*.log
scripts/C02_YarnBraid/validation/data
*.inp
*.frd
*.xyz
final/
src/dependences/NetGen
*.brep
*.vol
*.vtk
*.vtu
.vscode/
output_lsdyna/
src/dependences
doc/content
ccx2paraview-master
dash_vtk_unstructured-main
.conda/
scripts/C03_NetKnot/T05_interp_fcn/functions/data
*.zip
src/settings/downloads/lsdyna.exe
lsdyna.exe
build/NetKnot/backend/input.out.json
build/NetKnot/backend/functions/data
build/NetKnot/frontend/node_modules
build/NetKnot/frontend/src/data/input.out.json
build/NetKnot/to_share
build/NetKnot/deploys/temp